@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: burlywood;
}


.wrapper{
    overflow: clip;
    min-height: 100%;
}

.header{
    background-color: #FFFFFF;
    color: #212B36;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
}


.header__menu{
    padding-bottom: 10px;
    padding-left: 130px;
}


.header__container{
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.menu__item{
    display: inline-block;
    font-family: 'Inter',sans-serif;
    position: relative;
    font-weight: 500;
    background-color: #E7E7E7;
}


.menu__item:not(:last-child){
    margin-right: 20px;
    margin-top: 17px;
}
.menu__link{
    font-size: 16px;
    display: inline-block;
    transition: all 0.3s ;
}


.menu__link:hover .sub-sub-menu__link{
    color:#3056D3
}

.fash-sub-title{
    color: #212B36;
}
.fashion__link{
    color: #637381;
}

.menu__list{
   font-weight: 500;
   line-height: 24px;
}
.sub-sub__menu{
    color: #637381;
}
.sub-menu__list::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url("../img/triangle.svg");
    position: absolute;
    top: -5px;
    left: 10px;
    margin-bottom: 0px;
}
.sub-menu__list{
    background-color: #FFFFFF;
}
.menu__logo{
    padding-right: 44.61px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.fash__sub-title{
    padding-bottom: 15px;
}
/* .menu__item{
    position: relative;
    padding-right: 7px;
    background: url("img/");
} */

.menu__item:hover .menu__link{
    background-color: #FFFFFF;
}

.menu__item:hover .sub-menu{
    display: block;
}


.menu__item .link-menu::after{
    content: "";
    background: url("../img/bird-1.svg") 0 0 / 100% no-repeat;
    position: absolute;
    border-radius: 50%;
    margin-left: 13px;
    width: 10px;
    height: 10px;
    top: 33%;
    padding-left: 5px;
}
.menu__list>li:hover .sub-menu__list{
    display: block;
}



.sub-menu__list{
    display: none;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 20px 0px 0px 0px;
    color: #637381;
    min-width: 180px;
    border: 0.5px solid #E7E7E7;
    border-radius: 5px;
}

.black-link{
    color: #212B36;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
   
}

.sub-sub-menu__list{
    display: inline-block;
}

.sub-sub-menu__list-2{
    display: inline-block;
}
.faschen__contain{
    position: absolute;
    /* top: 35; */
    left: 100%;
    background-color: #FFFFFF;
    min-width: 652px;
    height: 308px;
    border: 0.5px solid #E7E7E7;
    border-radius: 5px;
}
.faschen__content{
    margin: 30px;
    height: 248px;
    line-height: 24px;
}

.fash-link::before{
    content: "";
    background-image: url("../img/fashion-link-srtl.svg") no-repeat;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 20px; 
}



.list-1{
    padding-right: 97px;
}
.sub-sub-menu__link{
    padding-bottom: 14px;
}
/* .banner-image{
    display: inline-block;
} */
.icons-list{
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    padding-top: 17px;
    margin-right: 140px;
}
.sub-menu__link{
    display: inline-block;
    padding: 5px 10px;
}
.link-menu{
    position: relative;
}

.two-lists{
    display: flex;
}
.sub-menu__list>li:hover .sub-menu__link{
    color: #3056D3;
}

.inline-icons__list{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    padding-right: 11px;
    padding-left: 5px;
}


.menu__link:hover{
    color: #3056D3;
}


/* ПЕРЕРОБЛЕНА ЧАСТИНА САЙТУ */

.wrapper__fash{
    position: absolute;
    top: 0;
    left: 100%;
}
.fash__sub-title{
    color: #212B36;
}
.banner-image{
    position: absolute;
    right: 69px;
    top: 30px;
    display: inline-block;
}

.link-menu{
    padding-right: 45px;
}



.sub-sub-menu__link:hover{
    color: #3056D3;
}