@import url("reset.css");
@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body{
    background: #E5E5E5;
} */
main{
    font-family: "Inter" , sans-serif;
}


.main-title{
    color: #212B36;
    font-weight: 700;
    font-size: 44px;
    padding-bottom: 8px;
}

.main-paragraph{
    color: #637381;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    padding-bottom: 50px;
}

.subparagraph-text{
    color: #212B36;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%; /* 30/25 */
    margin-bottom: 30px;
}

[class*="__container"]{
    max-width: 600px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-forms{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 25px;
   
}
input{
    background-color: white;
    width: 336px;
    border-radius: 7px;
    height: 54px;
    border: 1px solid #E7E7E7;
    padding-left: 25px;
    width: 100%;
}

input[type="checkbox"] {
    /* appearance: none; */
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.form__line{
    display: flex;
    /* width: 50%; */
    /* padding-right: 28px; */
    /* padding-bottom: 30px; */
    /* width: 100%; */
    flex: 1 1 45%;

    /* border: 1px solid #3056D3; */
    /* border-radius: 7px; */
    /* width: 100%; */
    /* border: 1px solid #E7E7E7; */
}


.shipping-methods{
border-bottom: 1px solid #C4C4C4;
}
.form__label{
    color: #637381;
    font-size: 16px;
    padding-left: 14px;
}
.label-classes{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
    
}
.class-text-area{
    width: 50%;
    width: 700px;
    height: 180px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    resize: none;
    color: #637381;
    font-size: 16px;
    padding-left: 25px;
    padding-top: 25px;
    font-family: 'Inter';
}

.cupon-title{
    color: #212B36;
    font-size: 20px;
    line-height: 130%; /* 26/20 */
    padding-bottom: 25px;
}

.form-apply{
    width: 135px;
    height: 48px;
    /* background: #212B36; */
    color: #FFFFFF;
    background-color: #212B36;
    border-radius: 5px;
    justify-content: center;

}
.footer-page{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}
.input-cupon{
    width: 325px;
    height: 48px;
}


.apply-code-cl{
    padding: 12px 22px 12px 22px;
}

/* second forms */


.second-forms{
    font-family: 'Oswald',"Roboto" ,sans-serif;
}


.red-star{
    color: #EB5757;
}
.second-title{
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Oswald';
    line-height: 283.333333%; /* 68/24 */
}

.form__input{
    border: 1px solid #C4C4C4;
    margin-bottom: 27px;
}

.password__label{
    font-weight: 400;
    color: #3F3F3F;
    width: 124px;
    padding-bottom: 15px;
    line-height: 125%; /* 20/16 */
}

.zip-label{
    width: 140px;
}

.paragraph{
    color: #828282;
    font-family: 'Roboto';
    padding-bottom: 14px;
}
.email__label{
    font-weight: 400;
    color: #3F3F3F;
    width: 124px;
    padding-bottom: 15px;
}

.button-login{
    width: 120px;
    height: 50px;
    color: #E7E7E7;
    background: #000000;
    padding: 12px 20px 12px 16px;
    margin-bottom: 36px;
}

.button-forgot-password{
    color: #0F6DB1;
}
.third-section{
    padding-top: 16px;
}
.login-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    border-bottom: 1px solid #C4C4C4;
}

.first-name-label{
    padding-right: 15px;
}
.without-inscription{
    margin-right: 40px;
}
.country-label{
    padding-right: 45px;
}
.third-sections{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 30px;
}
.label-company{
    padding-right: 32px;
}
.input-first-name{
    border: 1px solid #C4C4C4;
    width: 451px;
    height: 44px;
}
.form__select{
    flex: 0 1 451px;
    height: 44px;
    border: 1px solid #C4C4C4;
    padding: 10px 16px;
}
.line-form{
    padding-left: 20px;

}

.label-class{
    color: #3F3F3F;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 125%; /* 20/16 */
}
.form-radio{
    width: 10px;
    height: 10px;
}
.radio-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 142.857143%; /* 20/14 */
    color: #3F3F3F;
}

.radio-button{
    display: flex;
    flex-wrap: wrap;
    gap: 107px;
    align-content: space-between;
    padding-bottom: 10px;
}

.but-radio{
    padding-top: 30px;
}
.label-radio-2{
   color:  #828282;
}

.back-link{
    color: #828282;
    text-transform: uppercase;
    font-weight: 500;
}
.link-back{
    font-size: 14px;
    line-height: 150%; /* 21/14 */
    color: #828282;
    font-family: 'Oswald';
    font-weight: 500;
}
.footer-buttons{
    display: flex;
    gap: 464px;
    margin-top: 24px;
}

.input-line{
    display: flex;
    flex-grow: 1;
    flex-basis: 336px;
}